.result-card{
    width: 100%;
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.result-card .result{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-value{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    color: rgb(134, 133, 133);
}
.result-value span:last-child{
    font-size: 28px;
    font-weight: bold;
}
#classify{
    font-weight: bold;
}
.scale{
    margin-top: 15px;
    width: 320px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 8px;
}
.scale-slider{
    width: 100%;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}
.scale-ele{
    height: 8px;
    border-radius: 5px;
    transition: all 1.5s ease;
}
.numbers{
    position: relative;
    /* background-color: rgb(222, 142, 142); */
    width: 100%;
    height: 20px;
    display: flex;
    font-size: 14px;
}
.numbers span{
    font-weight: bold;
    color: white;
    position: absolute;
    display: flex;
    width: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: white;
}
.numbers span:nth-child(1){
    background-color: rgb(188, 188, 71);
}

  